@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@100;400;700&display=swap');


body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}
 
.wrapper {
    max-width: 1280px;
    margin: 0 auto; 
	flex-grow: 1;
}

/*Style*/
.Heading1 {
	font-family: Poppins;
	font-size: 54px;
	line-height:74px;
	font-weight: 600;
	color:#282938;
}


.Heading2 {
	font-family: Poppins;
	font-size: 48px;
	line-height:64px;
	font-weight: 600;
	color:#282938;
}

.Heading3 {
	font-family: Poppins;
	font-weight: 600;
	font-size: 38px;
	line-height: 56px;
}

.Heading6 {
	font-family: Poppins;
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;
}

.Body1{
	font-family: Poppins;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
}

.Body2 {
	font-family: Poppins;
	font-size: 16px;
	line-height:28px;
	font-weight: 500;
	align-items:center;
}

.Manrope{
	font-family: Manrope;
	font-weight: 600;
	font-size: 18px;
}

.Label1{
	font-family: Poppins;
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
}

.Label2{
	font-family: Poppins;
	font-weight: 500;
	font-size: 16px;
	line-height: 28px;
}



.nameCompany {
	font-size: 30px;
	color: white;
	font-family: Poppins;
	font-weight: 600;
}
/*Style*/